{% extends "base.html" %}

{% block content %}

<div class="container">
    <h1>Check where you stand</h1>
    <hr>
<form action="{{ url_for("func")}}" method="post">

    <div class="form-group row">
        <label for="company" class="col-sm-2 col-form-label"><strong>Company select</strong></label>
        <div class="col-sm-6">
        <select class="form-control" id="company" name="company">
            {% for item in companies %}
                <option>{{item}}</option>
            {% endfor %}
        </select>
        </div>
      </div>

    <br>

    <div class="form-group row">
        <label for="title" class="col-sm-2 col-form-label"><strong>Title select</strong></label>
        <div class="col-sm-6">
        <select class="form-control" id="title" name="title">
            {% for item in titles %}
                <option>{{item}}</option>
            {% endfor %}
        </select>
        </div>
      </div>
      
    <br>

    <div class="form-group row">
        <label for="location" class="col-sm-2 col-form-label"><strong>Location </strong></label>
        <div class="col-sm-6">
        <input type="text" class="form-control" name="location" placeholder="location">
        </div>
    </div>
    <br>
    <div class="form-group row">
        <label for="salary" class="col-sm-2 col-form-label"><strong>Salary </strong></label>
        <div class="col-sm-6">
        <input type="number" class="form-control" name="salary" placeholder="salary">
        </div>
    </div>
    <hr>
    <button type="submit" class="btn btn-primary btn-lg">Submit</button>
  </form>

  <a href="/report_salary">Report salary</a>
</div>
{% endblock %}