{% extends "base.html" %}

{% block content %}

<script>
    function check(elem) {
        console.log('1');  
        let c = document.get("company");
        console.log(c);
        
    }
</script>

<div class="container">
    <h1>Check where you stand</h1>
    <hr>
    <form action="{{ url_for("func")}}" method="post">

        <div class="form-group row" id="myDropdown">
            <label for="company" class="col-sm-2 col-form-label"><strong>Company </strong></label>

            <div class="col-sm-6">
                <input list="company_list" id="company" name="company" placeholder="Company Search.."
                    class="form-control" onchange="check(this);">
                <datalist id="company_list">
                    {% for item in comp_title_df['Company Name_preprocessed'].unique() %}
                    <option>{{item}}</option>
                    {% endfor %}
                </datalist>
            </div>
        </div>

        <br>

        <div class="form-group row" id="myDropdown">
            <label for="title" class="col-sm-2 col-form-label"><strong>Title </strong></label>

            <div class="col-sm-6">
                <input list="title_list" id="title" name="title" placeholder="Job Title Search.." class="form-control">
                <datalist id="title_list">
                    {% for item in comp_title_df['Job Title_preprocessed'].unique() %}
                    <option>{{item}}</option>
                    {% endfor %}
                </datalist>
            </div>
        </div>

        <br>

        <div class="form-group row" id="myDropdown">
            <label for="location" class="col-sm-2 col-form-label"><strong>Title </strong></label>

            <div class="col-sm-6">
                <input list="location_list" id="location" name="location" placeholder="Location Search.." class="form-control">
                <datalist id="location_list">
                    {% for item in comp_title_df['Location'].unique() %}
                    <option>{{item}}</option>
                    {% endfor %}
                </datalist>
            </div>
        </div>

        <br>
        <div class="form-group row">
            <label for="salary" class="col-sm-2 col-form-label"><strong>Salary </strong></label>
            <div class="col-sm-6">
                <input type="number" class="form-control" name="salary" placeholder="salary">
            </div>
        </div>
        <hr>
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
    </form>

    <a href="/report_salary">Report salary</a>
</div>
{% endblock %}